.inline-block{
    display:inline-block;
    vertical-align: top;
}
.logo{
    width: 23%;
    padding: 1%;
}
nav{
    width: 73%;
    padding: 1%;
}
ul{
    width: 50%;
    margin-left: auto;
}
.logo{
    text-align: center;
}
.heroImg{
    height: 600px;
    padding: 25px;
}
.content{
    width: 500px;
    margin: 0 auto;
}
footer{
    background-color: #373738;}
    ul{
        padding: center;
        display: inline-block;
        vertical-align:top;
    }
    li{
        padding: center;
    }
.flexContainer{
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}
.myWork{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    div {
        display: flex;
        flex-direction: row-reverse;
      }
      div.a {
        width: auto;
        border: 1px solid black;
      }
      
      div.b {
        width: 150px;
        border: 1px solid black;
      }
      
      div.c {
        width: 50%;
        border: 1px solid black;
      }
  }